@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase

<div class="container">
	<main role="main" class="pb-3">

@* 		@if (ShouldStartFirstConfiguration) {
			<TagzApp.Blazor.Components.Pages.FirstStartConfiguration></TagzApp.Blazor.Components.Pages.FirstStartConfiguration>
		} else
		{
 *@			@Body
			

	</main>
</div>

<SectionOutlet SectionName="scripts"  />

@code {

	public bool IsConfigured => ConfigureTagzAppFactory.IsConfigured;

	public bool ShouldStartFirstConfiguration => false; // !IsConfigured && !NavMgr.Uri.Contains("/FirstStartConfiguration");

}
