@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.AspNetCore.SignalR.Client
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
@implements IHasSignalRConnection

@if (!_Content.Any())
{

	<div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 210px); text-align: center;">
		<div class="spinner-border" role="status"> <span class="visually-hidden">Loading...</span> </div>
	</div>

}
else
{
	<div id="taggedContent" class="">


		@foreach (var content in _Content.Values.Reverse())
		{
			<WaterfallMessage Content="content" @key="content" OnContentSelected="ShowModal" />
		}

	</div>
}

<PauseButton @ref="thePauseButton" OnPauseUpdates="OnPauseClick" />

<WaterfallModal @ref="Modal" Content="ModalContent" />


